.millieu{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5rem;
    text-decoration: none;
}
.panier{
    background-color: #BC2F26;
    padding: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    text-decoration: none;
    display: block;
    color: white;
    font-weight: bold;
}
.index img{
    justify-content: left;
}
.index{
    align-items: center;
    display: flex;
    text-decoration: none;
}
.bloc{
    display: block;
    margin-left: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 150%;
}
.bloc h1{
    color: #BC2F26;
    font-size: 2rem;
}

.fond{
    background-color: white;

}
.avis-text{
    margin-left: 0.6rem;
}
.pro{
    align-items: flex-start;
    display: flex;
    justify-items:flex-start;
    width: 80%;
    margin-right: 3rem;
    margin-top: 2rem;
}
.avis{
    padding-top: 5rem;
}
.shoes{
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
    align-items: center;
    text-align: left;
    padding-bottom: 5rem;
}
.ps img{
    max-height: 250px;
}
.ps{
    margin-top: 4rem;
}